<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://yuweining.cn/t/surge/Surge1.2.6.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://kzddck.com/image/app.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.vlang.recPay</string>
				<key>bundle-version</key>
				<string>1.11.2</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Annotable</string>
				<key>title</key>
				<string>【surge3.8.1】验证ID请关注微信公众号：kzddck回复“账号”获取</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>